*, *::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  src: url(./fonts/enchanted.ttf);
  font-family: enchanted;
}

:root {
  --max-width: 1200px;
  
  --bg-color-400: #2C3639;
  --bg-color-500: #040303;
  --bg-color-500: #1f1d36;
  --bg-color-500: #191a19;
  --bg-color-300: #3F4E4F;
  --primary-color-500: #1e5128;
  --primary-color-500: #950101;
  --primary-color-500: #864879;
  --primary-color-500: #e9a6a6;
  --primary-color-500: #A27B5C;
  --primary-color-300: #DCD7C9;
  --primary-color-600: #ECE5C7;
  
  --transition: all 300ms ease-in;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif; 
}

/* 
--------
Navbar
--------
*/

.navbar {
  height: 6rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1000;
}

.navbar-store {
  background-color: var(--bg-color-500);
  transition: var(--transition);
  position: relative;
}

.sticky-nav {
  position: sticky;
  top: 0;
}

.nav-center {
  width: 90%;
  max-width: var(--max-width);
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 150px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 6rem;
  text-transform: capitalize;
}

.nav-item {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-link {
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-color-300);
  transition: var(--transition);
}

.nav-link:hover {
  color: var(--bg-color-300);
}

.cart-toggle {
  position: relative;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--primary-color-500);
}

.cart-btn {
  position: relative;
  transition: var(--transition);
  display: block;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

.fa-cart-shopping {
}

.cart-items {
  position: absolute;
  display: block;
  height: 1.3rem;
  min-width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--primary-color-300);
  background-color: #D61C4E;
  color: var(--primary-color-300);
  border-radius: 5px;
  padding: .3rem .2rem;
  font-size: .8rem;
  font-weight: 700;
  display: none;
}

.fa-xmark {
  position: absolute;
  color: #D61C4E;
  cursor: pointer;
  font-size: 2rem;
  transition: var(--transition);
  visibility: hidden;
  opacity: 0;
}

.show-x {
  visibility: visible;
  opacity: 1;
}

.hide-cart-btn {
  visibility: hidden;
  opacity: 0;
}

@media screen and (min-width: 961px) {
  .cart-toggle {
    width: 150px;
  }
}


@media screen and (max-width: 960px) {
  
  .nav-menu {
    position: absolute;
    width: 100vw;
    left: 0;
    flex-direction: column;
    padding-bottom: 1rem;
    background-color: var(--bg-color-500);
    min-height: 50vh;
    transition: all 500ms ease-in-out;
    top: -1000px;
    opacity: 0;
  }
  
  .show-menu {
    top: 100%;
    opacity: 1;
  }
  
  .menu-btn {
    display: block;
    cursor: pointer;
  }
  
  .menu-btn .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    background-color: var(--primary-color-300);
    border-radius: 3px;
    transition: var(--transition);
  }
  
  #menu-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }
  #menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
}

.menu-btn-unclick {
  pointer-events: none;
}

/* 
--------
end of Navbar
--------
*/
/* 
--------
hero
--------
*/

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 100%), url('./images/hero-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  align-items: center;
  min-height: calc(100vh - 6rem);
  background-color: ;
}

.hero-img {
  text-align: center;
}

.hero-img img {
  width: 80%;
  height: 80%;
}

.hero-content h1 {
  font-size: 3.6rem;
  text-transform: capitalize;
  color: white;
  background-image: linear-gradient(to top, var(--bg-color-300) 0%, #fff 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero-content h2 {
  font-size: 3.2rem;
  background-image: linear-gradient(to top, var(--bg-color-300) 0%, #fff 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero-content p {
  color: var(--primary-color-300);
  margin-top: 1rem;
  font-weight: 500;
}

.hero-content p span {
  color: var(--primary-color-500);
  font-size: 1rem;
}

.hero-content a {
  text-decoration: none;
  color: var(--primary-color-300);
  background-color: var(--bg-color-400);
  font-weight: 500;
  padding: .15rem 1rem;
  border-radius: 3px;
  margin-top: 1rem;
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.hero-content a::before {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  position: absolute;
  transition: var(--transition);
  background-color: var(--bg-color-300);
  z-index: -1;
}

.hero-content a:hover::before,
.hero-content a:focus::before {
  width: 100%;
}

@media screen and (max-width: 750px) {
  
  .hero-center {
    grid-template-columns: auto;
  }
  
  .hero-content {
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 3rem;
  }
  .hero-content h2 {
    font-size: 2.3rem;
    
  }
  .hero-content p {
    font-size: .8rem;
  }
  .hero-content p span {
    font-size: .8rem;
  }
  .hero-img img {
    height: 50%;
    width: 50%;
  }
  
}

/* 
--------
end of hero
--------
*/
/* 
--------
products
--------
*/

.products {
  min-height: calc(100vh - 6rem);
  width: 100%;
  background-color: var(--bg-color-400);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products h1 {
  margin-top: 2rem;
  text-transform: capitalize;
  background-image: linear-gradient(to top, var(--bg-color-400) 0%, #fff 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2.5em;
}

.products-container {
  width: 90%;
  max-width: var(--max-width);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin-top: 3rem;
  padding-bottom: 3rem;
}

.product-item {
  position: relative;
  border-radius: 4px
}

.product-img {
  width: 100%;
  height: 250px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url('./images/hero-3.jpg');
  background-size: cover;
  background-position: center;
  transition: var(--transition);
  transform: scale(1);
}

.product-img:hover {
  transform: scale(1.015);
}

@media screen and (max-width: 500px) {
  .product-img {
    height: 200px;
  }
}

.product-item i, .remove-cart, .add-cart {
  position: absolute;
  font-size: 1.3rem;
  color: var(--primary-color-500);
  color: var(--primary-color-600) ;
  cursor: pointer;
  transition: var(--transition);
  transform: scale(1);
}

.product-item i:hover, .add-cart:hover, .remove-cart:hover{
  transform: scale(1.075);
}

.add-cart, .remove-cart {
  right: 1rem;
  bottom: .5rem;
}

.add-cart, .remove-cart{
  height: 1.5rem;
  width: 1.5rem;
}

.product-item h4, .product-item h5 {
  text-align: center;
  color: var(--primary-color-300);
}

.product-item h4 {
  margin-top: .5rem;
  font-weight: 500;
}

.product-content h5 img {
  width: 1rem;
  height: 1rem;
  margin-bottom: -.22rem;
}

.product-content {
  position: relative;
  width: 100%;
}

.product-item .fa-circle-info {
  font-size: 1rem;
  left: .5rem;
  top: .5rem;
  cursor: pointer;
}

.remove-cart {
  bottom: -1.5rem;
}

.show-cart-down {
  bottom: .5rem;
}

.hide-cart-up {
  bottom: -1.5rem;
}

/* 
--------
end of products
--------
*/
/* 
--------
footer
--------
*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 5rem;
  background-color: var(--bg-color-400);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1100px;
}

.footer p {
  color: var(--primary-color-300);
  font-size: .8rem;
}

.footer p span {
  color: var(--primary-color-500);
}

.social-icons i{
  color: var(--primary-color-500);
  font-size: 24px;
  margin: .5rem;
}

.social-icons {
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  width: 125px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .footer-container {
    flex-direction: column;
    gap: .7rem;
    padding-bottom: 1rem;
  }
}


/* 
--------
end of footer
--------
*/
/* 
--------
info
--------
*/

.info {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: var(--transition);
  z-index: 10000;
  visibility: hidden;
}

.info-container {
  position: relative;
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #36222299;
  background-color: var(--primary-color-500);
  background-color: #A27B5C66;
  background-color: #191a1977;
  padding: 2rem 1rem;
  border-radius: 7px;
  border: 1px solid #72ffff;
  border: 1px groove #ff4a4a;
  border: 1px groove #a91079;
  border: 1px solid #362222;
  transition: var(--transition);
  opacity: 0;
  transform: scale(0);
}

.show-info-container {
  opacity: 1;
  transform: scale(1);
}
.show-info {
  visibility: visible;
}

.info-container .x-icon {
  position: absolute;
  color: #D61C4E;
  color: maroon;
  color: #7d0633;
  cursor: pointer;
  width: 1rem;
  font-size: 1rem;
  top: 0.5rem;
  right: 0.5rem;
}

.info-container p {
  font-family: 'Indie Flower', cursive;
  margin-top: 1rem;
  font-size: .9rem;
  color: var(--primary-color-300);
  text-align: left;
  width: 100%;
}

.info-container p span {
  color: var(--primary-color-500);
  font-weight: bold;
}

.info-container h5 {
  background-image: linear-gradient(
  to top,
  #362222 0%,
  var(--primary-color-300) 50%,
  var(--primary-color-300) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-family: enchanted;
  text-align: left;
  width: 100%;
}

/* 
--------
end of info
--------
*/
/* 
--------
cart
--------
*/

.cart-overlay {
  width: 100vw;
  height: 200vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
}

.cart {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 450px;
  background-color: var(--bg-color-500);
  display: flex;
  justify-content: center;
  transition: all .5s ease;
  top: -500px;
  opacity: 0;
}

.show-cart {
  top: 0;
  opacity: 1;
}
.show-cart-overlay {
  visibility: visible;
}

.cart-center {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.cart-center h1 {
  background-image: linear-gradient(to top, var(--bg-color-500) 0%, var(--primary-color-500) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 1.8rem;
  margin-top: .3rem;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: .5rem;
}

.cart-item {
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-img {
  width: 100%;
  height: 90%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  position: relative;
}

.cart-img i {
  color: var(--primary-color-600);
  font-size: .9rem;
  cursor: pointer;
}

.cart-img .amount {
  color: var(--primary-color-300);
}

.cart-img .remove {
  position: absolute;
  left: .5rem;
  bottom: .5rem;
  color: #7d0633;
  color: red;
  color: #f47c7c;
  color: #ff5d5d;
  font-size: .8rem;
}

.cart-img .chevrons {
  position: absolute;
  right: .5rem;
  bottom: .5rem;
}

.cart-img .item-name {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 50%;
  top: 0.5rem;
  transform: translateX(-50%);
  font-family: enchanted;
  font-size: 1.3rem;
  color: var(--primary-color-300);
}

.cart-img .amount {
  position: absolute;
  left: 50%;
  bottom: 0.5rem;
  transform: translateX(-50%);
}

.cart-item .item-price {
  color: var(--primary-color-300);
  font-size: .8rem;
  margin-top: .2rem;
}

.item-price img {
  width: .8rem;
  margin-bottom: -.1rem;
}

.chevrons {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.cart-receipt {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto auto;
  color: var(--primary-color-300);
}

.cart-receipt .receipt-price img {
  width: .78rem;
  margin-bottom: -.1rem;
}

.cart-receipt .receipt-amount {
  margin-right: 2rem;
}

.cart-receipt .receipt-name span {
  font-family: enchanted;
  font-size: 1.1rem;
  letter-spacing: 1.2px;
  background-image: linear-gradient(to top, var(--bg-color-500) 0%, var(--primary-color-300) 60%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.cart-total {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  color: var(--primary-color-300);
  visibility: hidden;
}

.total-visible {
  visibility: visible;
}

.cart-total .total-total img {
  width: .9rem;
  margin-bottom: -.11rem;
}

.cart-total .total-total {
  margin-left: 2rem;
}

.cart button {
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: var(--bg-color-400);
  color: var(--primary-color-300);
  padding: .35rem .75rem;
  font-weight: 500;
  cursor: pointer;
}

.cart .space {
  height: 1rem;
  width: 100%;
  color: var(--bg-color-500);
}

.fa-cevron-left,
.fa-cevron-right,
.remove,
.cart button,
.cart-img {
  transition: var(--transition);
  transform: scale(1);
}
.fa-cevron-left:hover,
.fa-cevron-right:hover,
.remove:hover,
.cart button:hover {
  transform: scale(1.050);
  transform: scale(1.050);
}

.cart-img:hover {
  transform: scale(1.015);
}

.empty {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content center;
  height: 85%;
}

.empty img {
  width: 40%;
}

.empty p {
  margin-top: 1rem;
  color: var(--bg-color-400);
  font-size: 1.5rem;
  font-weight: 600;
}

.hide-empty {
  display: none;
}

.item-flex {
  display: flex;
}

.cart-unclick {
  pointer-events: none;
}
/* 
--------
end of cart
--------
*/















