*, *::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --max-width: 1200px;
  
  --bg-color-400: #2C3639;
  --bg-color-500: #040303;
  --bg-color-500: #1f1d36;
  --bg-color-500: #191a19;
  --bg-color-300: #3F4E4F;
  --primary-color-500: #1e5128;
  --primary-color-500: #950101;
  --primary-color-500: #864879;
  --primary-color-500: #e9a6a6;
  --primary-color-500: #A27B5C;
  --primary-color-300: #DCD7C9;
  
  --transition: all 300ms ease-in;
}

body {
  font-family: 'Poppins', sans-serif; 
}

/* 
--------
Navbar
--------
*/

.navbar {
  height: 6rem;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1000;
}

.navbar-store {
  background-color: var(--bg-color-500);
}

.nav-center {
  width: 90%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 150px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 6rem;
  text-transform: capitalize;
}

.nav-item {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-link {
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-color-300);
  transition: var(--transition);
}

.nav-link:hover {
  color: var(--bg-color-300);
}

.cart-toggle {
  position: relative;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color-500);
}

.cart-btn {
  position: relative;
  transition: var(--transition);
  display: block;
  opacity: 1;
  cursor: pointer;
  visibility: visible;
}

.cart-items {
  position: absolute;
  display: block;
  height: 1.3rem;
  min-width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--primary-color-300);
  background-color: #D61C4E;
  color: var(--primary-color-300);
  border-radius: 5px;
  padding: .3rem .2rem;
  font-size: .8rem;
  font-weight: 700;
}

.fa-xmark {
  position: absolute;
  color: #D61C4E;
  cursor: pointer;
  font-size: 2rem;
  transition: var(--transition);
  visibility: hidden;
  opacity: 0;
}

.show-x {
  visibility: visible;
  opacity: 1;
}

.hide-cart-btn {
  visibility: hidden;
  opacity: 0;
}


@media screen and (max-width: 960px) {
  
  .nav-menu {
    position: absolute;
    width: 100vw;
    left: 0;
    flex-direction: column;
    background-color: var(--bg-color-500);
    min-height: 50vh;
    transition: all 300ms ease;
    top: -1000px;
    opacity: 0;
  }
  
  .show-menu {
    top: 100%;
    opacity: 1;
  }
  
  .menu-btn {
    display: block;
    cursor: pointer;
  }
  
  .menu-btn .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    background-color: var(--primary-color-300);
    border-radius: 3px;
    transition: var(--transition);
  }
  
  #menu-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }
  #menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
}


/* 
--------
end of Navbar
--------
*/
/* 
--------
hero
--------
*/

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 100%), url('./images/hero-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  align-items: center;
  min-height: calc(100vh - 6rem);
  background-color: ;
}

.hero-img {
  text-align: center;
}

.hero-img img {
  width: 80%;
  height: 80%;
}

.hero-content h1 {
  font-size: 3.6rem;
  text-transform: capitalize;
  color: white;
  background-image: linear-gradient(to top, var(--bg-color-300) 0%, #fff 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero-content h2 {
  font-size: 3.2rem;
  background-image: linear-gradient(to top, var(--bg-color-300) 0%, #fff 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero-content p {
  color: var(--primary-color-300);
  margin-top: 1rem;
  font-weight: 500;
}

.hero-content p span {
  color: var(--primary-color-500);
  font-size: 1rem;
}

.hero-content a {
  text-decoration: none;
  color: var(--primary-color-300);
  background-color: var(--bg-color-400);
  font-weight: 500;
  padding: .15rem 1rem;
  border-radius: 3px;
  margin-top: 1rem;
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.hero-content a::before {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  position: absolute;
  transition: var(--transition);
  background-color: var(--bg-color-300);
  z-index: -1;
}

.hero-content a:hover::before,
.hero-content a:focus::before {
  width: 100%;
}

@media screen and (max-width: 750px) {
  
  .hero-center {
    grid-template-columns: auto;
  }
  
  .hero-content {
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 3rem;
  }
  .hero-content h2 {
    font-size: 2.3rem;
    
  }
  .hero-content p {
    font-size: .8rem;
  }
  .hero-content p span {
    font-size: .8rem;
  }
  .hero-img img {
    height: 50%;
    width: 50%;
  }
  
}

/* 
--------
end of hero
--------
*/
/* 
--------
products
--------
*/

.products {
  min-height: calc(100vh - 6rem);
  width: 100%;
  background-color: var(--bg-color-400);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products h1 {
  margin-top: 2rem;
  text-transform: capitalize;
  background-image: linear-gradient(to top, var(--bg-color-400) 0%, #fff 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2.5em;
}

.products-container {
  width: 90%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 3rem;
}

.product-item {
  position: relative;
  border-radius: 4px
}

.product-img {
  width: 100%;
  height: 250px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url('./images/hero-3.jpg');
  background-size: cover;
  background-position: center;
  transition: var(--transition);
  transform: scale(1);
}

.product-img:hover {
  transform: scale(1.020);
}

.product-item i, .remove-cart, .add-cart {
  position: absolute;
  font-size: 1.3rem;
  color: var(--primary-color-500);
  color: #ECE5C7 ;
  cursor: pointer;
  transition: var(--transition);
  transform: scale(1);
}

.product-item i:hover, .add-cart:hover, .remove-cart:hover{
  transform: scale(1.075);
}

.add-cart, .remove-cart {
  right: 1rem;
  bottom: .5rem;
}

.add-cart, .remove-cart{
  height: 1.5rem;
  width: 1.5rem;
}

.product-item h4, .product-item h5 {
  text-align: center;
  color: var(--primary-color-300);
}

.product-item h4 {
  margin-top: .5rem;
  font-weight: 500;
}

.product-content {
  position: relative;
  width: 100%;
}

.product-content .fa-circle-info {
  font-size: 1rem;
  left: 1rem;
  top: .1rem;
  cursor: pointer;
}

.remove-cart {
  bottom: -1.5rem;
}

.show-cart-down {
  bottom: .5rem;
}

.hide-cart-up {
  bottom: -1.5rem;
}

/* 
--------
end of products
--------
*/













